@import 'menu';
@import 'layout';
@import 'reset';

$bp480: 480px;
$bp768: 768px;

@font-face {
  font-family: BernitaSans;
  src: url("../fonts/BerninaSans-Web-CondensedBold.woff2");
}

@font-face {
  font-family: GothamHTF;
  src: url("../fonts/GothamHTFMedium2.woff2");
}


*{
  font-family: BerninaSans, sans-serif;
}

.img_titre {
  background-image: url("../img/background.jpg");
  width:100%;
  height: 600px;
  background-size: cover;
  background-position: center top;
}

.phrase_titre{
  position: relative;
  color: white;
  background-color: transparentize(white, 0.4);
  top: 500px;
  height: 50px;
  padding-left: 15px;
}

.phrase_titre h2{
  font-size:0.9em;
}
.phrase_titre h4{
  font-size:0.7em;
}

.promo{
  position: absolute;
  color: white;
  background-color: darken(#9c1414,10%);
  top:100px;
  right:25px;
  width:250px;
  height: 100px;
  border-radius:8px;
  padding: 5px;
  transform: rotate(25deg);
}

.promo h2{
  font-size: 1.2em;
  text-align: center;
}

.inner{
  padding:5px;
}

.top_inner{
  margin-bottom: 20px;
}

.textcenter {
  text-align: center;
  color: #00465b;
}

.titre_description{
  color: #00465b;
  margin-bottom: 50px;
}

.description{
  color: #00465b;
  margin-bottom: 30px;
}

.ice_experience{
  color: #00465b;
}

.menu_icones {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}

.icone{
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.gotham{
  font-family: GothamHTF, sans-serif;
}

.icone img{
  border-radius: 50%;
  width:50%;
}

.line_block{
  display: inline-block;
}

.bg_grey{
  background-color: #f6fefe;
}

.top_inner{
  position: relative;
}

button{
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  background-color: #f6fefe;
  border: 1px solid grey;
  padding : 5px;
  border-radius:5px;
}

@media screen and (min-width: $bp480){
  .menu_icones :nth-child(1){
    order:2;
  }
  .menu_icones :nth-child(2){
    order:3;
  }
  .menu_icones :nth-child(3){
    order:1;
  }
}

@media screen and (min-width: $bp768){
  .inner{
    margin: 0 auto;
  }
  .menu-icones{
    flex-direction: row;
  }
}

@media screen and (min-width: 1000px){
  .inner{
    margin: 0 auto;
    width: 1000px;
  }
  .menu-icones{
    flex-direction: row;
  }
}

